language: node_js
node_js: "0.10"
env:
  - TRAVIS=true
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - npm install --global gulp
  - npm install --global bower
  - npm install --global protractor
  - webdriver-manager update --standalone
  - webdriver-manager start &
  - bower install
install: npm install
script: gulp
after_script: cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
