body {
  font-family: sans-serif;
  background: #f0f0f0 !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

md-content {
  padding: 20px;
}

md-tabs md-content.md-default-theme {
  background: rgb(66,66,66);
}

md-toolbar {
  margin-top: 30px;
}

.demo-wrapper {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

/*.first-demo .ng-inline-edit {
  padding: 20px;
  background: gray;
}

.first-demo .ng-inline-edit--validating {
  background: blue;
}

.first-demo .ng-inline-edit--error {
  background: red;
}

.first-demo .ng-inline-edit__input {
  font-size: 1em;
  border-bottom: 1px dashed #333;
}

.first-demo .ng-inline-edit__button {
  color: blue;
  margin-left: 5px;
}

.first-demo .ng-inline-edit__button:hover {
  text-decoration: underline;
}*/
