body {
  font-family: sans-serif;
  background: #f0f0f0 !important;
}

pre {
  margin: 0 !important;
  padding: 20px !important;
}

*, *:before, *:after {
  box-sizing: border-box;
}

md-content {
  padding: 20px;
}

md-tabs md-content.md-default-theme {
  padding: 0;
}

md-toolbar {
  margin-top: 30px;
}

.app-wrapper {
  background: #f0f0f0;
  padding-bottom: 30px;
}

.demo-wrapper {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.fade-in,
.fade-out {
  -webkit-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  -moz-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
  transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) .3s;
}

.fade-in.ng-hide-remove,
.fade-out.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fade-out.ng-hide-add,
.fade-in.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

/* example-1 */
.example-1 .ng-inline-edit__input {
  font-size: 1em;
  border-bottom: 1px dashed #333;
}

.example-1 .ng-inline-edit--error .ng-inline-edit__input {
  border-color: #ff0000;
}

.example-1 .ng-inline-edit__button {
  color: blue;
  margin-left: 5px;
}

.example-1 .ng-inline-edit__button:hover {
  text-decoration: underline;
}
